.header{
    width: 100%;
    height: 206px;
    background-color: rgba(4, 242, 28, 0.4666666666666667);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.dashboard-img1{
    position: absolute;
    width: 25%;
    bottom: 0;
    left: 0;
    transform: rotate(180deg);
    transform-origin: center;
}

.dashboard-img2{
    position: absolute;
    width: 25%;
    top: 0;
    right: 0;
}

.guest{
    width: 5%;
    position: absolute;
    right: 23%;
    top: 45%;
}

.username{
    width: 5%;
    position: absolute;
    right: 23%;
    top: 45%; 
}

.company-name{
    text-align: center;
    font-family:"Montserrat Bold", "Montserrat", sans-serif;
    font-size: 72px;
}

.company-name1{
    font-weight: 500;
}

.company-name2{
    font-weight: 1000;
}

.error{
    font-size: 10px;
    color: red;
}

.home-button{
    position: absolute;
    left: 15%;
    top: 48%;
    width: 12%;
    height: 20%;
    background-color:  rgba(255, 255, 255, 0.634);
    color: #000000;
    border: solid 1px rgb(133, 126, 126);
    border-radius: 5px;
    cursor: pointer;
}