<!DOCTYPE html>
<html>
<head>
	<title>Activity Tracker</title>
	<style>
		h1 {
			background-color: rgb(138,249,149);
				font-family: Raleway, sans-serif;
				text-align: center;
		}

		label {
				font-family: Raleway, sans-serif;
		}

		input[type="text"],
		input[type="number"] {
			background-color: rgb(138,249,149);
			font-family: Raleway, sans-serif;
		}
        button {
            font-family: Raleway, sans-serif;
        }
		table {
			border-collapse: collapse;
			margin-top: 20px;
		}

		td, th {
			padding: 10px;
			border: 1px solid black;
		}
	</style>
</head>
<body>
	<h1>Activity Tracker</h1>

	<form id="form">
		<label for="exercise_name">Exercise Name:</label>
		<input type="text" id="exercise_name" name="exercise_name"><br>

		<label for="reps">Reps :</label>
		<input type="number" id="reps" name="reps"><br>

		<label for="sets">Sets :</label>
		<input type="number" id="sets" name="sets"><br>

		<label for="time">Time :</label>
		<input type="number" id="time" name="time"><br>

		<button type="button" onclick="addRow()">Add to Table</button>
	</form>
	<!--Making the table: https://www.youtube.com/watch?v=iDA0kF5lrVk -->
	<table id="table">
		<tr>
			<th>Exercise Name</th>
			<th>Reps </th>
			<th>Sets </th>
			<th>Time </th>
		</tr>
	</table>

	<script>
		function addRow() {
			// Helped me with formatting: https://www.youtube.com/watch?v=srIwnQzZKms
			// Getting the users input for activity name, the amount of reps, sets, and time
			const exerciseName = document.getElementById("exercise_name").value;
			const reps = parseInt(document.getElementById("reps").value);
			const sets = parseInt(document.getElementById("sets").value);
			const time = parseInt(document.getElementById("time").value);

			// Making a new row in the table
			const table = document.getElementById("table");
			const row = table.insertRow(-1);

			// Making the cells of the table
			const exerciseNameCell = row.insertCell(0);
			const repsCell = row.insertCell(1);
			const setsCell = row.insertCell(2);
			const timeCell = row.insertCell(3);
			exerciseNameCell.innerHTML = exerciseName;
			repsCell.innerHTML = reps;
			setsCell.innerHTML = sets;
			timeCell.innerHTML = time;
		}
	</script>
</body>
</html>
